<!--<ion-header>-->
    <!--<ion-navbar>-->
        <!--<ion-title>Tab 1</ion-title>-->
    <!--</ion-navbar>-->
<!--</ion-header>-->

<ion-content>
    <br/><br/>
    <div align="center">
        <img src="./assets/icon/ZIMOLO brand_Page_3.jpg" width="100px"/>
        <br/>
        <h4 style="font-family: Helvetica; font-size: medium; color: dimgray;">BUSINESS ON THE CLOUD</h4>
    </div>
    <ion-list>

        <ion-item>
            <ion-label stacked>姓名</ion-label>
            <ion-input type="text" (input)="user_name($event.target.value)" *ngIf="!v_num_box_visible"></ion-input>
            <!--<ion-input type="tel" value="{{name}}" *ngIf="v_num_box_visible" disabled></ion-input>-->
        </ion-item>

        <ion-item>
            <ion-label stacked>电话号码</ion-label>
            <ion-input type="tel" (input)="verify_phone_number($event.target.value)"
                       *ngIf="!v_num_box_visible"></ion-input>
            <!--<ion-input type="tel" value="{{phone_number}}" *ngIf="v_num_box_visible" disabled></ion-input>-->
        </ion-item>


    </ion-list>
    <div align="center">
        <button ion-button (click)="send_code()" *ngIf="valid_phone_number">获取短信验证码</button><br/>
        <ion-input type="tel" placeholder="请输入6位验证码" (input)="verify($event.target.value, true)"
                   *ngIf="v_num_box_visible" showWhen="ios"></ion-input>
        <ion-input type="tel" placeholder="请输入6位验证码" (input)="verify($event.target.value, false)"
                   *ngIf="v_num_box_visible" hideWhen="ios"></ion-input>
    </div>


    <!--<input type="tel" placeholder="姓名" (input)="user_name($event.target.value)" *ngIf="!v_num_box_visible">-->
    <!--<input type="tel" placeholder="电话号码" (input)="verify_phone_number($event.target.value)" *ngIf="!v_num_box_visible">-->
    <!--<input type="tel" value="{{phone_number}}" *ngIf="v_num_box_visible" disabled>-->
    <!--<button ion-button="" *ngIf="valid_phone_number" (click)="send_code()">获取短信验证码</button>-->
    <!--<input type="tel" placeholder="请输入6位验证码" (input)="verify($event.target.value, true)"-->
    <!--*ngIf="v_num_box_visible" showWhen="ios">-->
    <!--<input type="tel" placeholder="请输入6位验证码" (input)="verify($event.target.value, false)"-->
    <!--*ngIf="v_num_box_visible" hideWhen="ios">-->
</ion-content>