<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
    <!--<ion-tab [root]="tab2Root" (ionSelect)="ref()" tabTitle="About" tabIcon="information-circle"></ion-tab>-->
    <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>