<ion-header>
    <ion-toolbar>
        <ion-title>
            二维码
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary">完成</span>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div [innerHTML]="testing" id="good"></div>
</ion-content>
