<ion-header>
    <ion-navbar hide-tabs>
        <ion-title style="text-align: center">
            <ion-icon name="person"></ion-icon>&nbsp;
            {{phone_number}}
        </ion-title>
        <ion-buttons end>
            <button icon-only ion-button (click)="add_card()" style="margin: 5px">
                <ion-icon name="add"></ion-icon>
                &nbsp;
            </button>
        </ion-buttons>
        <ion-buttons start>
            <button icon-only ion-button (click)="logout()" style="margin: 5px">
                 <ion-icon name="power"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content
                pullingIcon=""
                pullingText=""
                refreshingSpinner="dots"
                refreshingText="">
        </ion-refresher-content>
    </ion-refresher>
    <div align="center" *ngIf="credit_card.length==0">
        您还没有信用卡，点击右上角 + 扫描您的第一张卡吧
    </div>
    <ion-list>
        <ion-item-sliding *ngFor="let card of credit_card">
            <!--for touch id-->
            <button ion-item (click)="show_qr(card)">
                <table>
                    <tr>
                        <td>
                            <img style="float: left" src="./assets/payment/{{card.brand}}.svg" width="50px"/>
                        </td>
                        <td>
                            &nbsp;&nbsp; **** **** **** {{card.last4}}
                        </td>
                    </tr>
                </table>
            </button>
            <ion-item-options>
                <button style="background-color: red; color: white;" (click)="remove_card(card)">
                    <div style="font-size: 22pt">
                        <span class="ion-ios-trash"></span>
                    </div>
                    <div style="font-size: 10pt; padding: 5px">
                        Delete
                    </div>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>

<ion-footer padding>
    <button ion-button block color="dark" (click)="scan_qr()">扫码收钱</button>
</ion-footer>
