<ion-content padding>
    <ion-refresher (ionRefresh)="refresh_history($event)">
        <ion-refresher-content
                pullingIcon=""
                pullingText=""
                refreshingSpinner="dots"
                refreshingText="">
        </ion-refresher-content>
    </ion-refresher>
    <!--<div *ngFor="let transaction of history">-->
        <!--{{transaction.time}} &#45;&#45;-->
        <!--{{transaction.description}} &#45;&#45;-->
        <!--{{transaction.card_number.substring(transaction.card_number.length-4,transaction.card_number.length)}} &#45;&#45; -->
        <!--{{transaction.amount}}-->
    <!--</div>-->
    <!---->
    <ion-row>
        <ion-col>
            <h6><b>日期</b></h6>
        </ion-col>
        <ion-col>
            <h6><b>描述</b></h6>
        </ion-col>
        <ion-col>
            <h6><b>卡号</b></h6>
        </ion-col>
        <ion-col>
            <h6><b>金额</b></h6>
        </ion-col>
    </ion-row>
    <hr>
    <ion-row *ngFor="let transaction of history">
        <ion-col>
            {{transaction.time}}
        </ion-col>
        <ion-col>
            {{transaction.description}}
        </ion-col>
        <ion-col>
            **** {{transaction.card_number.substring(transaction.card_number.length-4,transaction.card_number.length)}}
        </ion-col>
        <ion-col>
            ${{transaction.amount}}
        </ion-col>
    </ion-row>
</ion-content>